<h1 class="text-center"> How would you like to use AirUnB? </h1>
<br>
<div class="text-center">
    <%= link_to 'FOR ME', new_customer_registration_path, class:"btn btn-primary" %>
    <%= link_to 'FOR BUSSINESS', new_host_registration_path, class:"btn btn-primary" %>
</div>