<div class="panel panel-primary">
<div class="panel-heading"><strong><%= @user.company_name.blank? ? @user.first_name.camelize+' '+ @user.last_name.camelize : @user.company_name.camelize %></strong></div>

    <div style="width: 250px; height: auto">
        <%= image_tag 'Placeholder.png', style:"width: 100%; height: 100%" %>
    </div>

    <div>
        <%= @user.email %>
    <div>

    <div>
        <%= @user.phone.blank? ? "No phone" : @user.phone %>
    </div>
</div>
</div>