<div class="panel panel-primary">
<div class="panel-heading"><strong><%= @profile_name %></strong></div>

    <div style="width: 250px; height: auto">
        <%= image_tag 'Placeholder.png', style:"width: 100%; height: 100%" %>
    </div>

    <div>
        <%= @user.email %>
    <div>

    <div>
        <%= @user.phone %>
    </div>
</div>
</div>